html body h1{
    text-align: center;
}

html body p{
    font-family: serif;
}

#contenedor p#primer-parrafo{
    background-color: #cee;
}

p#primer-parrafo.importante.parrafo em{
    color: #933;
}
/* outline: 1px solid #333 */
body p a[href]{
    outline: 1px solid #333
}

html body p.fuente.parrafo{
    opacity: 100%;
    color: #000 !important;
}

.complicado{
    font-weight: bold;
    color: #c62 !important;
}


